<!DOCTYPE html>
<html>

<head>
    <title>
        Comentarios
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
    <h1> Comentários </h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>comentarista</th>
                <th>comentario</th>
                <th>criação</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i < comments.length;i++){ %>

                <tr>
                    <td>
                        <%= comments[i].id %>
                    </td>
                    <td>
                        <%= comments[i].comentarista %>
                    </td>
                    <td>
                        <%= comments[i].comentario %>
                    </td>
                    <td>
                        <%= comments[i].data_criacao %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary">Salvar</button>

</body>

</html>