<!DOCTYPE html>
<html>

<head>
    <title>
        Teste
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
    <p>
        Comentarista:
        <input type="text" name="User" class="form-control" value="" required="required" pattern="" title="">
    </p>
    <p>
        Comentario:
        <input type="text" name="Comment" class="form-control" value="" required="required" pattern="" title="">
    </p>

    <button type="button" class="btn btn-primary">Salvar</button>

</body>

</html>